{
  "Value": {
    "$type": "OFT.Platform.Settings.SmartDOM.SmartDOMSettings, OFT.Platform",
    "TradingSettings": {
      "ShowOrders": false,
      "SimpleOrderEntry": true,
      "OneClickMode": false,
      "CloseOutstandingOrders": false,
      "StopLimitSlippage": 1,
      "IsStopLimit": false,
      "RowHeight": 15,
      "AutoCenterIntervalSec": 60,
      "AutoCenterSpeed": 30,
      "BackColor": "#FF708090",
      "ShowEmptyPricelevels": true,
      "DigitsAfterComma": 0,
      "CenterLineColor": "#FF000000",
      "CenterLineWidth": 2,
      "ShowCenterLine": true,
      "ScaleSettings": {
        "CustomScale": 1,
        "UseAutoScale": true
      }
    },
    "Volume": 1.0,
    "Locked": false,
    "SelectedTif": "GoodTillCancel",
    "CanvasSettings": {
      "Elements": [
        {
          "Name": "WindowsFormsHost1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 47.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 327.0,
          "Height": 575.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": true,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "AccountsBox",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 1.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 162.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "VolumeCounter",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 279.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 49.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "PnL",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 50.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "Flat",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 259.0,
          "Y": 624.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 34.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF808080",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "Entry",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 86.0,
          "Y": 518.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "QtyBox",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 274.0,
          "Y": 160.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 30.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "F",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 205.0,
          "Y": 624.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 53.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Flatten",
          "Volume": 0.0
        },
        {
          "Name": "R",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 624.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 52.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Reverse",
          "Volume": 0.0
        },
        {
          "Name": "X",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 54.0,
          "Y": 624.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 150.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Cancel all",
          "Volume": 0.0
        },
        {
          "Name": "C",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 279.0,
          "Y": -39.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "C",
          "Volume": 0.0
        },
        {
          "Name": "lockborder",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 306.0,
          "Y": 24.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "ocoborder",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 294.0,
          "Y": 624.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 34.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "buybid",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 214.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY BID",
          "Volume": 0.0
        },
        {
          "Name": "buymarket",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 164.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY MKT",
          "Volume": 0.0
        },
        {
          "Name": "buyask",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 189.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY ASK",
          "Volume": 0.0
        },
        {
          "Name": "sellbid",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 107.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL BID",
          "Volume": 0.0
        },
        {
          "Name": "sellmarket",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 132.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL MKT",
          "Volume": 0.0
        },
        {
          "Name": "sellask",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 244.0,
          "Y": 82.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL ASK",
          "Volume": 0.0
        },
        {
          "Name": "grid1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 94.0,
          "Y": 258.0,
          "FixedX": false,
          "FixedY": false,
          "Width": "NaN",
          "Height": "NaN",
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "grid2",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 62.0,
          "Y": 24.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 244.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "lot1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 164.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 1.0
        },
        {
          "Name": "lot2",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 187.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 2.0
        },
        {
          "Name": "lot3",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 210.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 3.0
        },
        {
          "Name": "lot4",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 233.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 5.0
        },
        {
          "Name": "lot5",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 256.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 10.0
        },
        {
          "Name": "lot6",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 251.0,
          "Y": -39.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF181818</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 50.0
        },
        {
          "Name": "TIFSelector",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 24.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 60.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        }
      ],
      "ActualSize": "328,644"
    },
    "Columns": [
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Orders, OFT.Controls",
        "ButtonColor": "#FFE3E3E3",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "SelectionColor": "#FFEEE8AA",
        "MediaBuysColor": "#FF3F6FBF",
        "ModifyColor": "#FFFFA500",
        "BestPriceMode": false,
        "BestPriceColor": "#FFA9A9A9",
        "Side": "bid",
        "Header": "Buys",
        "HeaderColor": "#FFE3E3E3",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FFE3E3E3",
        "Width": 30,
        "VisualName": "РњРѕРё Р·Р°СЏРІРєРё РЅР° РїРѕРєСѓРїРєСѓ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Limits, OFT.Controls",
        "BestPriceMode": false,
        "BestPriceColor": "#FFA9A9A9",
        "ButtonText": "MKT",
        "ButtonColor": "#FFE3E3E3",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "UnvailableRowFontColor": "#FF808080",
        "ShowUnvailableRows": false,
        "SelectionColor": "#FFC1EDFF",
        "Side": "bid",
        "VisualMode": "volume",
        "Filter": 0.0,
        "FilterColor": "#FFA9A9A9",
        "ShowHistogram": true,
        "HistogramColor": "#FF008FC2",
        "RightToLeft": true,
        "ShowCumulativeValues": false,
        "Header": "Bid",
        "HeaderColor": "#FFE3E3E3",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FF000000",
        "ColumnColor": "#FF87CEEB",
        "Width": 55,
        "VisualName": "РЎРїСЂРѕСЃ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.PriceColumn, OFT.Controls",
        "PnlType": "money",
        "ShowCurrentDay": false,
        "CurrentDayBackGround": "#FF808080",
        "ShowLastTrade": true,
        "CurrentPriceBackColor": "#FFFFFF00",
        "AvgPriceColor": "#FFDEB887",
        "ButtonColor": "#FF000000",
        "PositivePnl": "#FF00FF00",
        "NegativePnl": "#FFFF0000",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HighlightBestBidAsk": false,
        "BestAskColor": "#FF90EE90",
        "BestBidColor": "#FFF08080",
        "Header": "Price",
        "HeaderColor": "#FFE3E3E3",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FF000000",
        "ColumnColor": "#FFE3E3E3",
        "Width": 65,
        "VisualName": "Price",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Limits, OFT.Controls",
        "BestPriceMode": false,
        "BestPriceColor": "#FFA9A9A9",
        "ButtonText": "MKT",
        "ButtonColor": "#FFE3E3E3",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "UnvailableRowFontColor": "#FF808080",
        "ShowUnvailableRows": false,
        "SelectionColor": "#FFFFE0E1",
        "Side": "offer",
        "VisualMode": "volume",
        "Filter": 0.0,
        "FilterColor": "#FFA9A9A9",
        "ShowHistogram": true,
        "HistogramColor": "#FFD9484C",
        "RightToLeft": false,
        "ShowCumulativeValues": false,
        "Header": "Ask",
        "HeaderColor": "#FFE3E3E3",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FF000000",
        "ColumnColor": "#FFFFA0A2",
        "Width": 55,
        "VisualName": "РџСЂРµРґР»РѕР¶РµРЅРёРµ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Orders, OFT.Controls",
        "ButtonColor": "#FFE3E3E3",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "SelectionColor": "#FFEEE8AA",
        "MediaBuysColor": "#FF800000",
        "ModifyColor": "#FFFFA500",
        "BestPriceMode": false,
        "BestPriceColor": "#FFA9A9A9",
        "Side": "offer",
        "Header": "Sells",
        "HeaderColor": "#FFE3E3E3",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FFE3E3E3",
        "Width": 30,
        "VisualName": "РњРѕРё Р·Р°СЏРІРєРё РЅР° РїСЂРѕРґР°Р¶Сѓ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      }
    ],
    "FloatSize": "340,682"
  },
  "IsSystem": false
}