{
  "Value": {
    "$type": "OFT.Platform.Settings.SmartDOM.SmartDOMSettings, OFT.Platform",
    "TradingSettings": {
      "ShowOrders": false,
      "SimpleOrderEntry": true,
      "OneClickMode": false,
      "CloseOutstandingOrders": false,
      "StopLimitSlippage": 1,
      "IsStopLimit": false,
      "RowHeight": 15,
      "AutoCenterIntervalSec": 60,
      "AutoCenterSpeed": 30,
      "BackColor": "#FF708090",
      "ShowEmptyPricelevels": true,
      "DigitsAfterComma": 0,
      "CenterLineColor": "#FF000000",
      "CenterLineWidth": 2,
      "ShowCenterLine": true,
      "ScaleSettings": {
        "CustomScale": 1,
        "UseAutoScale": true
      }
    },
    "Volume": 1.0,
    "Locked": false,
    "SelectedTif": "GoodTillCancel",
    "CanvasSettings": {
      "Elements": [
        {
          "Name": "WindowsFormsHost1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 0.0,
          "Y": 47.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 362.0,
          "Height": 718.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": true,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "AccountsBox",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 1.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 172.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "VolumeCounter",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 312.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 51.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "PnL",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 284.0,
          "Y": 768.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 79.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF808080",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "Flat",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 242.0,
          "Y": 768.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 41.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FFBABABA",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "Entry",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 371.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "QtyBox",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 127.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 100.0,
          "Height": 40.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 16.0,
          "PositiveColor": "#FFFFA500",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "F",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 82.0,
          "Y": 768.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 79.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "CLOSE",
          "Volume": 0.0
        },
        {
          "Name": "R",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 768.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 80.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Reverse",
          "Volume": 0.0
        },
        {
          "Name": "X",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 162.0,
          "Y": 768.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 79.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": true,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBABABA</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Cancel all",
          "Volume": 0.0
        },
        {
          "Name": "C",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 387.0,
          "Y": 152.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "C",
          "Volume": 0.0
        },
        {
          "Name": "lockborder",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 341.0,
          "Y": 24.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "ocoborder",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 288.0,
          "Y": 24.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 52.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "buybid",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 344.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY BID",
          "Volume": 0.0
        },
        {
          "Name": "buymarket",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 292.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY MKT",
          "Volume": 0.0
        },
        {
          "Name": "buyask",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 318.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY ASK",
          "Volume": 0.0
        },
        {
          "Name": "sellbid",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 240.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL BID",
          "Volume": 0.0
        },
        {
          "Name": "sellmarket",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 266.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL MKT",
          "Volume": 0.0
        },
        {
          "Name": "sellask",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 366.0,
          "Y": 215.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFBDF1D8</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL ASK",
          "Volume": 0.0
        },
        {
          "Name": "grid1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 58.0,
          "Y": 455.0,
          "FixedX": false,
          "FixedY": false,
          "Width": "NaN",
          "Height": "NaN",
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "grid2",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 62.0,
          "Y": 24.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 226.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "lot1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 174.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFE2E2E2</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 1.0
        },
        {
          "Name": "lot2",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 197.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFE2E2E2</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 2.0
        },
        {
          "Name": "lot3",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 220.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFE2E2E2</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 3.0
        },
        {
          "Name": "lot4",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 243.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFE2E2E2</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 5.0
        },
        {
          "Name": "lot5",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 266.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFE2E2E2</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 10.0
        },
        {
          "Name": "lot6",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 289.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF3F3F46</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFE2E2E2</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 50.0
        },
        {
          "Name": "TIFSelector",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 1.0,
          "Y": 24.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 60.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false
          },
          "Foreground": {
            "Custom": false
          },
          "FontSize": 11.0,
          "Volume": 0.0
        }
      ],
      "ActualSize": "364,789"
    },
    "Columns": [
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Limits, OFT.Controls",
        "BestPriceMode": false,
        "BestPriceColor": "#FFA9A9A9",
        "ButtonText": "MKT",
        "ButtonColor": "#FFFFFFFF",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "UnvailableRowFontColor": "#FF808080",
        "ShowUnvailableRows": false,
        "SelectionColor": "#FF7EADFF",
        "Side": "bid",
        "VisualMode": "volume",
        "Filter": 0.0,
        "FilterColor": "#FFA9A9A9",
        "ShowHistogram": false,
        "HistogramColor": "#FF008FC2",
        "RightToLeft": true,
        "ShowCumulativeValues": false,
        "Header": "Bid",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF3F6FBF",
        "Width": 40,
        "VisualName": "РЎРїСЂРѕСЃ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.BuySellColumn, OFT.Controls",
        "LastTradeColor": "#FFFFFF00",
        "Interval": 2500,
        "ClearOnlyTouchedPrice": false,
        "ShowFlash": false,
        "FlashColor": "#FFFFA500",
        "FlashPeriod": 2000,
        "SelectionColor": "#FFEEE8AA",
        "ButtonColor": "#FFFFFFFF",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "BestPriceMode": "hide",
        "BestPriceColor": "#FFA9A9A9",
        "MinimumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "MaximumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "IsBuy": false,
        "Header": "Bid Trades",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF999999",
        "Width": 40,
        "VisualName": "РўРµРєСѓС‰РёРµ РїСЂРѕРґР°Р¶Рё",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": true
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.PriceColumn, OFT.Controls",
        "PnlType": "money",
        "ShowCurrentDay": false,
        "CurrentDayBackGround": "#FF808080",
        "ShowLastTrade": true,
        "CurrentPriceBackColor": "#FFFFFF00",
        "AvgPriceColor": "#FFDEB887",
        "ButtonColor": "#FF000000",
        "PositivePnl": "#FF00FF00",
        "NegativePnl": "#FFFF0000",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HighlightBestBidAsk": false,
        "BestAskColor": "#FF90EE90",
        "BestBidColor": "#FFF08080",
        "Header": "Price",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FF000000",
        "ColumnColor": "#FFFFFFFF",
        "Width": 80,
        "VisualName": "Price",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.BuySellColumn, OFT.Controls",
        "LastTradeColor": "#FFFFFF00",
        "Interval": 2500,
        "ClearOnlyTouchedPrice": false,
        "ShowFlash": false,
        "FlashColor": "#FFFFA500",
        "FlashPeriod": 2000,
        "SelectionColor": "#FFEEE8AA",
        "ButtonColor": "#FFFFFFFF",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "BestPriceMode": "hide",
        "BestPriceColor": "#FFA9A9A9",
        "MinimumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "MaximumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "IsBuy": true,
        "Header": "Ask Trades",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF999999",
        "Width": 40,
        "VisualName": "РўРµРєСѓС‰РёРµ РїРѕРєСѓРїРєРё",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": true
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Limits, OFT.Controls",
        "BestPriceMode": false,
        "BestPriceColor": "#FFA9A9A9",
        "ButtonText": "MKT",
        "ButtonColor": "#FFFFFFFF",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "UnvailableRowFontColor": "#FF808080",
        "ShowUnvailableRows": false,
        "SelectionColor": "#FFFF797C",
        "Side": "offer",
        "VisualMode": "volume",
        "Filter": 0.0,
        "FilterColor": "#FFA9A9A9",
        "ShowHistogram": false,
        "HistogramColor": "#FFD9484C",
        "RightToLeft": false,
        "ShowCumulativeValues": false,
        "Header": "Ask",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FFBF1D1D",
        "Width": 40,
        "VisualName": "РџСЂРµРґР»РѕР¶РµРЅРёРµ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.BothOrders, OFT.Controls",
        "ButtonColor": "#FFFFFFFF",
        "ButtonFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "ButtonFontColor": "#FF000000",
        "SelectionColor": "#FFEEE8AA",
        "MediaBuysColor": "#FF3F6FBF",
        "MediaSellsColor": "#FF800000",
        "ModifyColor": "#FFFFA500",
        "Header": "Orders",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF999999",
        "Width": 40,
        "VisualName": "My orders",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.HistogramColumn, OFT.Controls",
        "ShowHistogram": true,
        "Interval": "currentDay",
        "HistogramType": "volume",
        "RightToLeft": false,
        "HistogramColor": "#FF6495ED",
        "BidsColor": "#FFDC143C",
        "AskColor": "#FF4F81BD",
        "SelectMaxValue": true,
        "MaxValueColor": "#FFFFA500",
        "ShowValueArea": true,
        "ValueAreaColor": "#FFFFFF00",
        "BestPriceMode": "hide",
        "BestPriceColor": "#FFA9A9A9",
        "ShowBarDirection": true,
        "PositivebarColor": "#FF008000",
        "NegativebarColor": "#FFFF0000",
        "ShowLastTrade": false,
        "CumulativeMode": true,
        "UpTickBackground": "#FF90EE90",
        "UpTickText": "#FF000000",
        "DownTickBackground": "#FFFF4500",
        "DownTickText": "#FFFFFFFF",
        "SameTickBackground": "#FFFFFFFF",
        "SameTickText": "#FF000000",
        "TextAlignment": "center",
        "Header": "Profile",
        "HeaderColor": "#FFFFFFFF",
        "HeaderFont": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": true,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "HeaderFontColor": "#FF000000",
        "Font": {
          "Size": 8,
          "FontFamily": "Arial",
          "Bold": false,
          "Italic": false,
          "Underline": false,
          "Strikeout": false
        },
        "FontColor": "#FF000000",
        "ColumnColor": "#FF999999",
        "Width": 80,
        "VisualName": "Volume profile",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false
      }
    ],
    "FloatSize": "376,827"
  },
  "IsSystem": false
}